/* You can add global styles to this file, and also import other style files */
:root{
    color-scheme: light dark;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}